<ul class="nav nav-tabs navbar-static-top">
  
  <li role="presentation"><a href="{{ url_for('home') }}">Home</a></li>
  <li role="presentation"><a href="{{ url_for('profile') }}">Profile</a></li>
  <li role="presentation"><a href="{{ url_for('games') }}">Games</a></li>
  <li role="presentation"><a href="{{ url_for('profiles') }}">Users</a></li>
  {% if current_user.is_authenticated() %}
      <p class="navbar-text pull-right">Signed in as {{ current_user.first_name }}  |  <a href="{{ url_for('logout') }}">Logout</a></p>
  {% else %}
      <p class="navbar-text pull-right"><a href="{{ url_for('logout') }}">Sign in</a></p>
  {% endif %}
  
</ul>