{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}

<div class="jumbotron">
  <h1>Welcome to js Games</h1>
  <p><br>Here you will find fun games developed with javascript.<br></p>
  
  <p><a class="btn btn-primary btn-lg" href="{{ url_for('games') }}" role="button">View Games</a></p>
</div>

<!-- <div align="center" class="embed-responsive embed-responsive-16by9">
    <video width="320" height="240" autoplay loop class="embed-responsive-item">
        <source src=/static/img/spinv.webm type=video/mp4>
    </video>
</div> -->

{% endblock %}
