{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block title %}
Profiles
{% endblock %}

{% block main %}
<h1 class="text-center">Users </h1><br>
  <div class="row">
    {% for user in users %}
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="{{ url_for('static', filename = user.image) }}" class="img-responsive img-thumbnail" style="max-height: 240px" alt="{{username}}">
        <div class="caption">
          <h3> {{ user.username }} </h3>
          <p >
            <b>User ID:</b> <span class="pull-right">{{ user.userid }} </span><br> 
            <b>Created:</b> <span class="pull-right">{{user.profile_add_on }} </span><br> 

          <pre><b>Platformer:</b><span class="pull-right">{{user.highscore1 }} </span><br></pre>
          <pre><b>Space Invaders:</b> <span class="pull-right">{{user.highscore2 }} </span><br></pre>
          </p>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>


{% endblock %}