{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block title %}
{{ user.username }}
{% endblock %}


{% block main %}

<div class="row">
  <div class="col-md-2">
    <ul class="nav nav-pills nav-stacked" >
      <li role="presentation"><a href="{{ url_for('update') }}">Edit Profile</a></li>
    </ul>
  </div>
  <div class="col-md-3">  
    <img src="{{ url_for('static', filename = filename) }}" class="img-responsive" alt="{{username}}">
  </div>
  <div class="col-md-4"> 
    <div class="profile"> <p > Name: {{ user.first_name }} {{ user.last_name }} </p> </div>
    <br>
    <div class="profile"> <p>Created: {{ user.profile_add_on }}</p> </div>
    <br>
    <div class="profile"> <p>Username: {{ user.username }}</p></div>
    <br>
    <div class="profile">
      ID: {{ user.userid }}<br>
      Age: {{ user.age }}<br>
      Sex: {{ user.gender }}<br>
      TDollars: ${{ user.tdollars }}<br>
      <br><em><b>Highest Scores</b></em><br>
      Platfomer: {{ user.highscore1 }}<br>
      Space Invaders: {{ user.highscore2 }}<br>
      
      <br>
    </div>
  </div>

{% endblock %}