{% extends "base.html" %}


{% block js %}
{% endblock %}

{% block title %}
Update Profile
{% endblock %}


{% block main %}


<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">    
  {% from "_form_helpers.html" import render_field %}
  <form method="POST" action="{{ url_for('update') }}" enctype="multipart/form-data">
      <label><h1>Profile Data <small>jsGames</small></h1></label>
      <hr>
      {% for message in get_flashed_messages() %}
        <div class="flash text-success">{{ message }}</div>
      {% endfor %} 
      <br>
      {{ form.hidden_tag() }}
      {{ render_field(form.email, type="email", class="form-control", id="inputEmail3", placeholder="someone@example.com") }}
      {{ render_field(form.username, type="text", class="form-control", id="exampleInputName2", placeholder="username") }}
      {{ render_field(form.first_name, type="text", class="form-control", id="exampleInputName2", placeholder="Jane") }}
      {{ render_field(form.last_name, type="text", class="form-control", id="exampleInputName2", placeholder="Doe") }}
      {{ render_field(form.age, type="text", class="form-control", id="exampleInputName2", placeholder="age") }} 
      {{ render_field(form.gender)}} 
      {{ render_field(form.image ) }}
      <input type="Submit" class="btn btn-primary pull-right"/>
   
  </form>
  <div class="col-md-4"></div>
</div>  
  
{% endblock %}
